@import "../../Styles/constants";

.av-checkbox {
	position: relative;
	display: none;

	& ~ label {
		position: relative;
		cursor: pointer;
		padding: 0;
		display: flex;
		align-items: center;
		font-size: $av-font-size-md;
	}

	& ~ label:before {
		content: '';
		margin-right: 10px;
		width: 1.4rem;
		height: 1.4rem;
		border: 2px solid $av-checkbox-border-gray;
		border-radius: 5px;
	}

	&:hover ~ label:before {
		background: $av-blue;
	}

	&:checked ~ label:before {
		background: $av-blue;
	}

	&:disabled ~ label {
		cursor: not-allowed;
	}

	&:checked ~ label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 45%;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white,
		4px 0 0 white,
		4px -2px 0 white,
		4px -4px 0 white,
		4px -6px 0 white,
		4px -8px 0 white;
		transform: rotate(45deg);
	}
}
